# Python: Operators
Now that we've seen the basic building blocks of programs, data types, we need ways of working with these data types to accomplish our goals. To do this, we use operators to perform arithmetic operations, assign data types to variables or create containers of variables, and perform logical operations that can help us control how we move about our program.

We'll go through a number of types of operators, beginning with numerical operators and working our way towards logical operators:
- Basic numerical operators: +, -, \*, /, //, \*\*, %
- Assignment operators: =, +=, -=, \*=, /=
- Relational operators: >, <, ==, !=, >=, <=
- Logical operators: and, or, not
- Membership operators: in, not in

## Basic numerical operators
Most of the standard numerical operators will be familiar including +, -, \*, /

In [98]:
5 + 2

7

In [99]:
5 - 2

3

In [100]:
5 * 2

10

In [101]:
5 / 2

2.5

There are a few numerical operators that require a little bit more explanation.

First, the exponentiation operation, represented with two stars, `\*\*` , raises the first variable to the power of the second variable. For example, if you wanted to represent $5^2$

In [102]:
5 ** 2

25

In addition to "classic" or "true" division, / , there is also floor division, // , which rounds the result of division down to the nearest integer.

In [103]:
5 // 2

2

The modulus operator, % , returns the remainder from division. For example, if you divide 5 by 2, you can express the result as 2 with a remainder of 1. If you divide 9 by 3 it is cleanly divided with a remainder of zero. This is often used to determine whether or not one value is a multiple of another.

In [104]:
5 % 2

1

In [105]:
9 % 3

0

The `+` operator also has the helpful effect of concatenating (or merging together) two or more strings:

In [1]:
'this' + 'that'

'thisthat'

In [2]:
'this' + 'that' + 'theother'

'thisthattheother'

## Assignment operators
Here, we'll discuss the standard operators for assigning a value to a variable: `=`, `+=`, `-=`, `*=`, `/=`

The most typically used operator is the equal sign. It assigns the expression on right of the equals sign to the variable on the left. It's important to note that this is different from logical operators that compare whether two quantities are equal: that is a double equals sign `==`.

In [106]:
x = 7
print(x)

7

You can also assign multiple variables using tuples, lists, and strings. The number of items in the tuple (remember that's a collection) on the right must match the number of items on the right.

In [107]:
a, b = (3, 4)
print(a)
print(b)

3
4

This is actually equivalent to writing the following, where in the above expression, the parentheses were implied:

In [108]:
(a, b) = (3, 4)
print(a)
print(b)

3
4

You can also make a list assignment, which yields the same result here:

In [109]:
[a, b] = (3, 4)
print(a)
print(b)

3
4

You can also do this assignment with lists:

In [110]:
a, b = [3, 4]
print(a)
print(b)

3
4

In [111]:
a, b = 'th'
print(a)
print(b)

t
h

You can also have more than two elements involved:

In [112]:
a, b, c, d = (3, 4, 9, 'this')
print(a)
print(b)
print(c)
print(d)

3
4
9
this

Let's say we wanted to increment the value stored in x but keep it stored in x - this is a common task. We could write the following:

In [113]:
x = 7
x = x + 1
print(x)

8

Or, equivalently, we could use the increment operator

In [114]:
x = 7
x += 1
print(x)

8

We could increment by whatever value we'd like

In [115]:
x = 7
x += 4
print(x)

11

We could similarly decrement the value

In [117]:
x = 7
x = x - 1
print(x)

6

...or use the more compact decrement operator

In [118]:
x = 7
x -= 1
print(x)

6

There are similar operators for multiplication and division

In [1]:
x = 7
x *= 2
print(x)

14

In [2]:
x = 7
x /= 2
print(x)

3.5

## Relational operators
These operators are used for comparison and are typically used for numerical data:
- Greater than >
- Less than <
- Equal to ==
- Not equal to !=
- Greater than or equal to >=
- Less than or equal to <=

Each returns a value of `True` or `False` depending on the status of the condition.

In [121]:
2 == 3

False

In [122]:
2 < 3

True

In [123]:
2 > 3

False

In [124]:
2 != 3

True

In [125]:
2 >= 3

False

In [126]:
2 <= 3

True

## Logical operators
There are three primary logical operators: `and`, `or`, and `not`. If both arguments in the expression result in the Boolean value, `True`, then the `and` statement returns `True`. If one or more of the arguments in the expression are `True`, then `or` returns `True`. `not` returns the opposite of the argument.

Let's walk through a basic example. Imagine we have a variables that represents whether a dog is brown `is_brown` or whether a dog is black `is_black`. The dog in our case is brown:

In [2]:
is_brown = True
is_black = False

is_brown and is_black

False

In [3]:
is_brown and is_brown

True

In [4]:
is_black and is_black

False

In [5]:
is_brown or is_black

True

In [6]:
is_brown or is_brown

True

In [7]:
is_black or is_black

False

In [8]:
not is_brown

False

Of course, you can combine these together, nesting them, to make more intricate expressions. In terms of the order of operations, expressions inside the parenthesis are evaluated before comparisons outside the parentheses.

In [9]:
(is_brown and is_black) or (is_black and is_black)

False

It's worthwhile to know that EVERYTHING has a corresponding Boolean value. If we enter a 7 into a logical operation it will evaluate, if we enter a string of text that says 'walnut' into a logical operation, it will evaluation, so it's important to know how Python treats variables that are not Boolean values. What happens is that a few specific cases are evaluated as `False`, while the rest are evaluated as `True`. The ones that are evaluated as `False` are as follows:
- `False`
- `None`
- 0
- All empty collections [], (), {}

With a few other exceptions, all other values will return `True`. Here are some examples to demonstrate.

In [18]:
x = 7
True if x else False # Returns True if x is True and False otherwise (we'll see more about conditionals soon)

True

In [19]:
x = 0
True if x else False

False

In [20]:
x = []
True if x else False

False

In [21]:
x = [1,3,4]
True if x else False

True

In [22]:
x = None
True if x else False

False

## Membership operators
Imagine that we have a list and want to determine whether or not a certain entry is contained in that list. The operators `in` and `not in` are specifically for that purpose. They return a Boolean that corresponds to whether or not the condition is true.

In [140]:
mylist = [1,3,6,8,23,256]
3 in mylist

True

In [141]:
4 not in mylist

True

It also works with mixed object types

In [142]:
mynewlist = [1,3,6,8,23,256,'this','that']
'this' in mynewlist

True

And tuples work similarly

In [143]:
mynewtuple = (1,3,6,8,23,256,'this','that')
'this' in mynewtuple

True

## Next
Now that we've discussed basic Python variable types and operators that we can use to work with them, it's time to start putting those to use to help us navigate through our code and produce more interesting and practical code.